@import './variables.scss';

.shows {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  font-family: $poppins;
  color: $gray-color;

  a {
    color: $primary-color;
  }
}

.about {
  color: $gray-color;
  font-size: 14px;
  margin-bottom: 15px;
}

.button-play {
  position: relative;
  left: 50%;
  margin: 80px 0 30px 0;
  padding: 10px 30px;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 7px;
  transition: all .8s ease;
  color: $light-color;
  letter-spacing: .5px;
  font-family: $poppins;
  background-image: linear-gradient(to right, $primary-color, $pink-color);
  cursor: pointer;
  text-align: center;

  .fas {
    margin-right: 10px;
  }

}

.listening {
  filter: grayscale(100%)
}

.line-actions {
  display: flex;
}

.component {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 3000;
  background: $light-color;
  width: 240px;
  padding: 10px 0;
  border-radius: 7px;

  .playlist-item {
    background: $light-color;
    border: none;
    text-align: left;
    padding: 7px 15px;
    color: $black-color;
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;

    .fas {
      margin-right: 10px;
    }
  }
}

@media (min-width: 1024px) {
  .shows {
    margin-top: -40px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .about {
    margin: 60px 0 30px 0;
    font-size: 18px;
  }

  .button-play {
    left: auto;
    margin: 80px 0 30px 0;
    padding: 12px 38px;
    transform: translateX(0);
    font-size: 20px;
    border-radius: 10px;
    letter-spacing: .8px;
  
    .fas {
      margin-right: 17px;
    }
  }

  .component {
    left: 0;
    transform: translate(0, 0);
    transform: translateY(-50%);
    width: 300px;
    padding: 20px 0;
    border-radius: 10px;
  
    .playlist-item {
      padding: 10px 20px;
  
      .fas {
        margin-right: 16px;
      }
    }
  }
}
