@import './variables.scss';

.shows {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 600;
  font-family: $poppins;
  color: $gray-color;

  a {
    color: $primary-color;
  }
}

.about {
  color: $gray-color;
  font-size: 14px;
  margin-bottom: 15px;
}

.button-play {
  position: relative;
  left: 50%;
  margin: 60px 0 30px 0;
  transform: translateX(-50%);
  font-size: 50px;
  width: 90px;
  display: block;
  border-radius: 90px;
  color: $primary-color;
  cursor: pointer;
  background: transparent;
  text-align: center;
  height: 90px;
}
