@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $montserrat;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $bg-color;
}

.pb-4 {
  padding-bottom: 20px;
}

.title {
  font-size: 23px;
  letter-spacing: 0.4px;
  font-family: $poppins;
  font-weight: 700;
  margin-bottom: 30px;
}

.container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
}

.content {
  margin-top: 90px;
}
