$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

$primary-color: #b14cf2;
$bg-color:  #090909;
$dark-color:  #111111;
$black-color:  #181818;
$gray-color:  #414143;
$light-color:  #F5F5F5;
$white-color:  #FFFFFF;

$error-color: #F44336;
$success-color: #46CEAD;
