@import '../../styles/variables.scss';

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background: rgba($color: $bg-color, $alpha: .9);
  position: fixed;
}

.nav {
  height: 75px;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 7000;
  justify-content: space-between;

  a {
    height: 35px;

    img {
      width: auto;
      height: 35px;
    }
  }


  .hamburguer {
    width: 24px;
    cursor: pointer;

    div {
      width: 100%;
      height: 3px;
      border-radius: 3px;
      margin-bottom: 5px;
      background: $white-color;
    }

    div:last-child {
      margin-bottom: 0;
    }
  }
}

nav {
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  padding: 20px;
  z-index: 9000;
  overflow: auto;
  position: fixed;
  max-width: 290px;
  box-sizing: border-box;
  background: $bg-color;

  img {
    left: 50%;
    width: 80%;
    height: auto;
    max-width: 140px;
    position: relative;
    transform: translateX(-50%);
  }

  hr {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: $black-color;
  }

  ul {
    width: 100%;
    margin-top: 40px;

    li {
      color: $gray-color;
      font-size: 16px;
      cursor: pointer;
      
      a, .link-button {
        display: block;
        font-weight: 500;
        color: $gray-color;
        padding: 13px 23px;
        transition: all .2s;
        border-radius: 8px;
        position: relative;
        letter-spacing: 0.2px;
        background-color: transparent;

        p {
          margin-left: 38px;
        }
        
        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 23px;
          border-radius: 3px;
        }

        .fas {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 23px;
        }
      }      
    }
  }
}

.auth-link {
  margin-bottom: 30px;
  color: $primary-color;
  font-weight: 500;
  border: 1px solid $primary-color;
}

.account {
  color: $white-color;
  border-color: $dark-color;
  background-color: $dark-color;
}

.link-enabled {
  background-color: $black-color;
  color: $light-color;
}

.menu-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8000;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.5);
}

//transitions
.fade-enter, .fade-leave-to{
    opacity: 0;
}

.fade-enter-active, .fade-leave-active{
    transition: opacity .8s;
}

@keyframes slide-in{
    from{
        left: -290px;
    }
    to{
        left: 0;
    }
}

@keyframes slide-out{
    from{
        left: 0;
    }
    to{
        left: -290px;
    }
}

.slide-enter, .slide-leave-to{
    left: 0;
}

.slide-enter-active{
    animation: slide-in .8s ease;
}

.slide-leave-active{
    animation: slide-out .8s ease;
}


// media
@media (min-width: 1024px) {
  header {
    display: none;
  }

  .auth-link {
    border-width: 2px;
  }
}
